.signUpSection {
    .SignUpContent {
        display: flex;
        justify-content: flex-end;

        .signUpForm {
            display: flex;
            flex-direction: column;
            width: 40%;
            padding: 40px;
            gap: 20px;

            .logo {
                font-weight: 700;
                font-size: 25px;
                color: #f05537;
            }

            .signUpTitle {
                font-size: 30px;
                font-weight: 700;
            }

            .logo:hover {
                cursor: pointer;
            }

            form {
                gap: 10px;
                display: flex;
                flex-direction: column;

                input {
                    border: 2px solid rgba(0, 0, 0, 0.3);
                    padding: 10px;
                    font-size: 14px;
                    width: 40%;
                    outline: 0;
                }

                .signUpButton {
                    background-color: #f05537;
                    border-radius: 3px;
                    padding: 10px;
                    display: flex;
                    width: 41%;
                    justify-content: center;
                    align-items: center;

                    button {
                        background-color: inherit;
                        border: none;
                        outline: none;
                        color: white;
                        font-weight: 700;
                    }

                    button:hover {
                        cursor: pointer;
                    }
                }

                .signUpButton:hover {
                    cursor: pointer;
                }
            }
        }

        .loginButton {
            background-color: #f05537;
            border-radius: 3px;
            padding: 10px;
            display: flex;
            width: 41%;
            color: white;
            font-weight: 700;
            justify-content: center;
            align-items: center;
        }

        .loginButton:hover {
            cursor: pointer;
        }

        .signUpBanner {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
            }
        }
    }
}