.likesSection {
    .likesContent {
        width: 1000px;
        margin: 40px auto;

        .likesHeading {
            font-size: 30px;
            font-weight: 500;
            margin-block: 30px;
        }

        .likesContainer {
            display: flex;
            flex-wrap: wrap;

            .likeItem {
                background-color: #f9f9f9;
                border-radius: 5px;
                padding: 10px;
                margin-block: 20px;
            }

            .likeItem:hover {
                cursor: pointer;
                transform: scale(1.08);
                transition: all 0.3s;
            }
        }
    }
}